---
layout: default
nav: blog
---
<article class="article">
  <div class="wrap">
    <div class="article-head">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <h1>{{ page.title }}</h1>
      {% if page.tags and page.tags.size > 0 %}
      <div class="taglist">
        {% for tag in page.tags %}<span>{{ tag }}</span>{% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="prose">
      {{ content }}
    </div>

    <a class="backlink" href="{{ '/blog/' | relative_url }}">← All posts</a>
  </div>
</article>
